<%- include('inc/header') -%>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Gráficos
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
                    <li class="active">Gráficos</li>
                </ol>
            </section>

            <!-- Main content -->
            <section class="content container-fluid">

                <!-- Chart -->
            <div style="padding:10px; display: flex; justify-content: center">
                    <canvas id="chart" style="max-height:100%; max-width: 100%;" ></canvas> 
                  </div>

                <!-- <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Lista</h3>
                    </div>
                    
                    <div class="box-body no-padding">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th style="width: 10px">#</th>
                                    <th>E-mail</th>
                                    <th style="min-width: 75px;">Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1.</td>
                                    <td>contato@hcode.com.br</td>
                                    <td><button type="button" class="btn btn-xs btn-danger btn-delete"><i class="fa fa-trash"></i> Excluir</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                     /.box-body 
                </div> -->

            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

<%- include('inc/footer') -%>
<script src="/js/moment.min.js"> </script>
    <script src="/admin/bower_components/chart.js/dist/Chart.min.js"> </script>
    <script src="/js/pluginFormSave.js">  </script>
<script>
let grafico = new Chart(document.querySelector('#chart').getContext('2d'), {
          type: 'bar',
          data: { },
          option: {
            tooltips: {
              mode: 'index',
              intersect: false
            },
            
            scales: {
              xAxes: [{
                display: true,
                scaleLabel: {
                  display: true,
                  labelString: 'mês'
                }
              }]
            }
          }

        })

        
        fetch(`/admin/caixas/chart${window.location.search}` )
        .then(response => response.json())
        .then(json => {
          
          const copP = json.values_copyP
          const copL = json.values_copyL
          const impP = json.values_impP
          const impL = json.values_impL
          const plot = json.values_plot
          const prod = json.values_prod
          const serv = json.values_serv
          const inter = json.values_inter
          const said = json.values_said

          grafico.data = {
                labels: json.months,
                datasets: [{
                  data:   copP,
                  label: 'Cópias Próprias',
                  borderWidth: 2,
                  backgroundColor: '#7d5fff',
                  borderColor: '#0a3d62'
              },
            {     data:  copL,
                  label: 'Cópias Locadas',
                  borderWidth: 2,
                  backgroundColor: '#1e3799',
                  borderColor: '#0a3d62'

            },
            {     data:  impP,
                  label: 'Impressões Próprias',
                  borderWidth: 2,
                  backgroundColor: '#eb2f06',
                  borderColor: '#0a3d62'

            },
            {     data:  impL,
                  label: 'Impressões Locadas',
                  borderWidth: 2,
                  backgroundColor: '#78e08f',
                  borderColor: '#0a3d62'

            },
            {     data:  plot,
                  label: 'Plotter',
                  borderWidth: 2,
                  backgroundColor: '#3c6382',
                  borderColor: '#0a3d62'

            },
            {     data:  prod,
                  label: 'Produtos',
                  borderWidth: 2,
                  backgroundColor: '#f6b93b',
                  borderColor: '#0a3d62'

            },
            {     data:  serv,
                  label: 'Serviços',
                  borderWidth: 2,
                  backgroundColor: '#f53b57',
                  borderColor: '#0a3d62'

            },
            {     data:  inter,
                  label: 'Internet',
                  borderWidth: 2,
                  backgroundColor: '#4bcffa',
                  borderColor: '#0a3d62'

            },
            {     data:  said,
                  label: 'Saídas',
                  borderWidth: 2,
                  backgroundColor: '#dfe4ea',
                  borderColor: '#0a3d62'

            }]
              

            },
            

           grafico.update();
          
        })
</script>